@using Common;
@using Models;
@model Course
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">SchoolID</label><div class="controls"><input id="SchoolID" name ="SchoolID" type="text" value ="@Model.SchoolID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">课程编码</label><div class="controls"><input id="CourseNo" name ="CourseNo" type="text" value ="@Model.CourseNo" required /></div></div>
<div class="control-group"><label class="control-label">课程名称</label><div class="controls"><input id="Title" name ="Title" type="text" value ="@Model.Title" required /></div></div>
<div class="control-group"><label class="control-label">课程简介</label><div class="controls"><input id="Summary" name ="Summary" type="text" value ="@Model.Summary" /></div></div>
<div class="control-group"><label class="control-label">课程内容</label><div class="controls"><textarea id="Content" name ="Content">@Model.Content</textarea></div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls"><input id="Status" name ="Status" type="text" value ="@Model.Status" style="width:30px;"/></div></div>
<div class="control-group"><label class="control-label">授课老师ID</label><div class="controls"><input id="TeacherID" name ="TeacherID" type="text" value ="@Model.TeacherID" style="width:30px;" required/></div></div>
