@model Models.ApplyFund
<div class="control-group"><label class="control-label">OpenID</label><div class="controls padt5">@Model.OpenID</div></div>
<div class="control-group"><label class="control-label">ApplyDate</label><div class="controls padt5">@Model.ApplyDate</div></div>
<div class="control-group"><label class="control-label">RealName</label><div class="controls padt5">@Model.RealName</div></div>
<div class="control-group"><label class="control-label">Email</label><div class="controls padt5">@Model.Email</div></div>
<div class="control-group"><label class="control-label">Mobile</label><div class="controls padt5">@Model.Mobile</div></div>
<div class="control-group"><label class="control-label">Address</label><div class="controls padt5">@Model.Address</div></div>
<div class="control-group"><label class="control-label">VerifyStatus</label><div class="controls padt5">@Model.VerifyStatus</div></div>
<div class="control-group"><label class="control-label">VerifyMemberID</label><div class="controls padt5">@Model.VerifyMemberID</div></div>
<div class="control-group"><label class="control-label">VerifyRemark</label><div class="controls padt5">@Model.VerifyRemark</div></div>
<div class="control-group"><label class="control-label">VerifyDate</label><div class="controls padt5">@Model.VerifyDate</div></div>
<div class="control-group"><label class="control-label">ApplyRemark</label><div class="controls padt5">@Model.ApplyRemark</div></div>
