@using Common;
@using MvcPager;
@using Lib;
@using Models;
@model PagedList<ApplyFund>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="checkbox-column">
                <input type="checkbox" name="checkall" onchange="selectall(this,'ID')" />
            </th>
            <th class="sorting" data-sort="ID">ID</th>
            <th class="sorting" data-sort="OpenID">OpenID</th>
            <th class="sorting" data-sort="ApplyDate">申请时间</th>
            <th class="sorting" data-sort="RealName">申请人姓名</th>
            <th class="sorting" data-sort="Email">申请人Email</th>
            <th class="sorting" data-sort="Mobile">申请人联系方式</th>
            <th class="sorting" data-sort="VerifyStatus">是否发送资料</th>
            <!--
            <th class="sorting" data-sort="Address">Address</th>
           
            <th class="sorting" data-sort="VerifyMemberID">VerifyMemberID</th>
            <th class="sorting" data-sort="VerifyRemark">VerifyRemark</th>
            <th class="sorting" data-sort="VerifyDate">VerifyDate</th>
            <th class="sorting" data-sort="ApplyRemark">ApplyRemark</th>
            -->
            <th class="btns-column">操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="checkbox-column">
                    <input type="checkbox" name="ID" value="@item.ID"/></td>
                <td>@item.ID</td>
                <td>@item.OpenID</td>
                <td>@item.ApplyDate.Format()</td>
                <td>@item.RealName</td>
                <td>@item.Email</td>
                <td>@item.Mobile</td>
                <td>@(item.VerifyStatus == 1 ? "已发送" : "未发送")</td>
                <!--
                <td>@item.Address</td>
              
                <td>@item.VerifyMemberID</td>
                <td>@item.VerifyRemark</td>
                <td>@item.VerifyDate.Format()</td>
                <td>@item.ApplyRemark</td>
                -->
                <td class="btns-column">
                    @Html.ViewButton("详细", "/admin/ApplyFund/Detail", new { href = "/admin/ApplyFund/Detail?id=" + item.ID })
                    @Html.EditButton("编辑", "/admin/ApplyFund/Edit", new { href = "/admin/ApplyFund/Edit?id=" + item.ID })
                    @Html.DeleteButton("删除", "/admin/ApplyFund/Delete", new { href = "javascript:void(0);", onclick = "Delete('/admin/ApplyFund/Delete/" + item.ID + "',this,'one');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="dt_footer fixed">
    <div class="row-fluid">
        <div class="span4">
            <div class="dataTables_info" id="DataTables_Table_0_info">
                @Model.CurrentPageIndex/@Model.TotalPageCount 页, 共@(Model.TotalItemCount)条记录
            </div>
        </div>
        <div class="span8">
            <div class="pagination">@Html.Pager(Model)</div>
        </div>
    </div>
</div>
@Html.PermissionValideScript()