@model Models.SysLog
<div class="control-group"><label class="control-label">RequestNo</label><div class="controls padt5">@Model.RequestNo</div></div>
<div class="control-group"><label class="control-label">OpenID</label><div class="controls padt5">@Model.OpenID</div></div>
<div class="control-group"><label class="control-label">Title</label><div class="controls padt5">@Model.Title</div></div>
<div class="control-group"><label class="control-label">Content</label><div class="controls padt5">@Model.Content</div></div>
<div class="control-group"><label class="control-label">LogLevel</label><div class="controls padt5">@Model.LogLevel</div></div>
