@using Common;
@using Models;
@model SysLog
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">LogNo</label><div class="controls"><input id="LogNo" name ="LogNo" type="text" value ="@Model.LogNo" required /></div></div>
<div class="control-group"><label class="control-label">LogType</label><div class="controls"><input id="LogType" name ="LogType" type="text" value ="@Model.LogType" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">ControllerName</label><div class="controls"><input id="ControllerName" name ="ControllerName" type="text" value ="@Model.ControllerName" /></div></div>
<div class="control-group"><label class="control-label">ActionName</label><div class="controls"><input id="ActionName" name ="ActionName" type="text" value ="@Model.ActionName" /></div></div>
<div class="control-group"><label class="control-label">Content</label><div class="controls"><input id="Content" name ="Content" type="text" value ="@Model.Content" /></div></div>
