@model Models.School
<div class="control-group"><label class="control-label">SchoolNo</label><div class="controls padt5">@Model.SchoolNo</div></div>
<div class="control-group"><label class="control-label">Name</label><div class="controls padt5">@Model.Name</div></div>
<div class="control-group"><label class="control-label">Abstract</label><div class="controls padt5">@Model.Abstract</div></div>
<div class="control-group"><label class="control-label">Content</label><div class="controls padt5">@Model.Content</div></div>
<div class="control-group"><label class="control-label">Type</label><div class="controls padt5">@Model.Type</div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls padt5">@Model.Status</div></div>
