@model Models.School
<div class="control-group"><label class="control-label">学校编号</label><div class="controls padt5">@Model.SchoolNo</div></div>
<div class="control-group"><label class="control-label">学校名称</label><div class="controls padt5">@Model.SchoolName</div></div>
<div class="control-group"><label class="control-label">简介</label><div class="controls padt5">@Model.Abstract</div></div>
<div class="control-group"><label class="control-label">详情</label><div class="controls padt5">@Model.Content</div></div>
<div class="control-group"><label class="control-label">类型</label><div class="controls padt5">@Model.Type</div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls padt5">@Model.Status</div></div>
