@model Models.WorkTask
<div class="control-group"><label class="control-label">任务时间</label><div class="controls padt5">@Model.TaskDate</div></div>
<div class="control-group"><label class="control-label">任务名称</label><div class="controls padt5">@Model.Title</div></div>
<div class="control-group"><label class="control-label">任务描述</label><div class="controls padt5">@Model.Content</div></div>
<div class="control-group"><label class="control-label">任务类型</label><div class="controls padt5">@Model.Type</div></div>
<div class="control-group"><label class="control-label">任务状态</label><div class="controls padt5">@Model.Status</div></div>
