@using Common;
@using Models;
@model Store
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">StoreNo</label><div class="controls"><input id="StoreNo" name ="StoreNo" type="text" value ="@Model.StoreNo" required /></div></div>
<div class="control-group"><label class="control-label">StoreName</label><div class="controls"><textarea id="StoreName" name ="StoreName" required>@Model.StoreName</textarea></div></div>
<div class="control-group"><label class="control-label">KId</label><div class="controls"><input id="KId" name ="KId" type="text" value ="@Model.KId" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">Summary</label><div class="controls"><textarea id="Summary" name ="Summary">@Model.Summary</textarea></div></div>
<div class="control-group"><label class="control-label">Content</label><div class="controls"><input id="Content" name ="Content" type="text" value ="@Model.Content" /></div></div>
<div class="control-group"><label class="control-label">Address</label><div class="controls"><textarea id="Address" name ="Address">@Model.Address</textarea></div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls"><input id="Status" name ="Status" type="text" value ="@Model.Status" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">Remark</label><div class="controls"><textarea id="Remark" name ="Remark">@Model.Remark</textarea></div></div>
