@using Common;
@using Models;
@model UserLike
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">CID</label><div class="controls"><input id="CID" name ="CID" type="text" value ="@Model.CID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">OpenID</label><div class="controls"><textarea id="OpenID" name ="OpenID" required>@Model.OpenID</textarea></div></div>
<div class="control-group"><label class="control-label">TableName</label><div class="controls"><input id="TableName" name ="TableName" type="text" value ="@Model.TableName" /></div></div>
<div class="control-group"><label class="control-label">RowID</label><div class="controls"><input id="RowID" name ="RowID" type="text" value ="@Model.RowID" style="width:30px;"/></div></div>
