@model Models.QExamRecord
<div class="control-group"><label class="control-label">OpenID</label><div class="controls padt5">@Model.OpenID</div></div>
<div class="control-group"><label class="control-label">ExamID</label><div class="controls padt5">@Model.ExamID</div></div>
<div class="control-group"><label class="control-label">Correct</label><div class="controls padt5">@Model.Correct</div></div>
<div class="control-group"><label class="control-label">TaskID</label><div class="controls padt5">@Model.TaskID</div></div>
<div class="control-group"><label class="control-label">IsDone</label><div class="controls padt5">@Model.IsDone</div></div>
<div class="control-group"><label class="control-label">UseTime</label><div class="controls padt5">@Model.UseTime</div></div>
