@model Models.CourseSchedule
<div class="control-group"><label class="control-label">课程ID</label><div class="controls padt5">@Model.CourseID</div></div>
<div class="control-group"><label class="control-label">简介</label><div class="controls padt5">@Model.Summary</div></div>
<div class="control-group"><label class="control-label">授课时间</label><div class="controls padt5">@Model.TeachDate</div></div>
<div class="control-group"><label class="control-label">开始时间</label><div class="controls padt5">@Model.StartTime</div></div>
<div class="control-group"><label class="control-label">结束时间</label><div class="controls padt5">@Model.EndTime</div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls padt5">@Model.Status</div></div>
