@model Models.CourseSchedule
<div class="control-group"><label class="control-label">CourseID</label><div class="controls padt5">@Model.CourseID</div></div>
<div class="control-group"><label class="control-label">Summary</label><div class="controls padt5">@Model.Summary</div></div>
<div class="control-group"><label class="control-label">TeachDate</label><div class="controls padt5">@Model.TeachDate</div></div>
<div class="control-group"><label class="control-label">StartTime</label><div class="controls padt5">@Model.StartTime</div></div>
<div class="control-group"><label class="control-label">EndTime</label><div class="controls padt5">@Model.EndTime</div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls padt5">@Model.Status</div></div>
