@using Common;
@using Models;
@model CourseSchedule
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">CourseID</label><div class="controls"><input id="CourseID" name ="CourseID" type="text" value ="@Model.CourseID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">Summary</label><div class="controls"><input id="Summary" name ="Summary" type="text" value ="@Model.Summary" /></div></div>
<div class="control-group"><label class="control-label">TeachDate</label><div class="controls"><input id="TeachDate" name ="TeachDate" type="text" value ="@Model.TeachDate" /></div></div>
<div class="control-group"><label class="control-label">StartTime</label><div class="controls"><input id="StartTime" name ="StartTime" type="text" value ="@Model.StartTime" /></div></div>
<div class="control-group"><label class="control-label">EndTime</label><div class="controls"><input id="EndTime" name ="EndTime" type="text" value ="@Model.EndTime" /></div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls"><input id="Status" name ="Status" type="text" value ="@Model.Status" style="width:30px;"/></div></div>
