@using Common;
@using Models;
@model QExam
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">Name</label><div class="controls"><textarea id="Name" name ="Name" required>@Model.Name</textarea></div></div>
<div class="control-group"><label class="control-label">TaskID</label><div class="controls"><input id="TaskID" name ="TaskID" type="text" value ="@Model.TaskID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">TaskDate</label><div class="controls"><textarea id="TaskDate" name ="TaskDate">@Model.TaskDate</textarea></div></div>
<div class="control-group"><label class="control-label">IsCurrentPush</label><div class="controls"><select id="IsCurrentPush" name ="IsCurrentPush" val="@Model.IsCurrentPush"><option value="">请选择..</option><option value="True">是</option><option value="False">否</option></select></div></div>
