@model Models.MaterielRecord
<div class="control-group"><label class="control-label">MaterielID</label><div class="controls padt5">@Model.MaterielID</div></div>
<div class="control-group"><label class="control-label">Stock</label><div class="controls padt5">@Model.Stock</div></div>
<div class="control-group"><label class="control-label">Type</label><div class="controls padt5">@Model.Type</div></div>
<div class="control-group"><label class="control-label">RequestNo</label><div class="controls padt5">@Model.RequestNo</div></div>
<div class="control-group"><label class="control-label">Summary</label><div class="controls padt5">@Model.Summary</div></div>
