@model Models.MaterielRecord
<div class="control-group"><label class="control-label">MaterielID</label><div class="controls padt5">@Model.MaterielID</div></div>
<div class="control-group"><label class="control-label">出入库数量</label><div class="controls padt5">@Model.Count</div></div>
<div class="control-group"><label class="control-label">类型</label><div class="controls padt5">@Model.Type</div></div>
<div class="control-group"><label class="control-label">申请编号</label><div class="controls padt5">@Model.RequestNo</div></div>
<div class="control-group"><label class="control-label">简述</label><div class="controls padt5">@Model.Summary</div></div>
