@using Common;
@using Models;
@model MaterielRecord
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">MaterielID</label><div class="controls"><input id="MaterielID" name ="MaterielID" type="text" value ="@Model.MaterielID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">出入库数量</label><div class="controls"><input id="Count" name ="Count" type="text" value ="@Model.Count" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">类型</label><div class="controls"><input id="Type" name ="Type" type="text" value ="@Model.Type" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">申请编号</label><div class="controls"><input id="RequestNo" name ="RequestNo" type="text" value ="@Model.RequestNo" /></div></div>
<div class="control-group"><label class="control-label">简述</label><div class="controls"><textarea id="Summary" name ="Summary">@Model.Summary</textarea></div></div>
