@model Models.Materiel
<div class="control-group"><label class="control-label">教育机构ID</label><div class="controls padt5">@Model.CompanyID</div></div>
<div class="control-group"><label class="control-label">物料名称</label><div class="controls padt5">@Model.Title</div></div>
<div class="control-group"><label class="control-label">简介</label><div class="controls padt5">@Model.Summary</div></div>
<div class="control-group"><label class="control-label">当前库存</label><div class="controls padt5">@Model.Stock</div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls padt5">@Model.Status</div></div>
<div class="control-group"><label class="control-label">缩略图</label><div class="controls padt5">@Model.Thumbs</div></div>
