@model Models.Materiel
<div class="control-group"><label class="control-label">SchoolID</label><div class="controls padt5">@Model.SchoolID</div></div>
<div class="control-group"><label class="control-label">Title</label><div class="controls padt5">@Model.Title</div></div>
<div class="control-group"><label class="control-label">Summary</label><div class="controls padt5">@Model.Summary</div></div>
<div class="control-group"><label class="control-label">Stock</label><div class="controls padt5">@Model.Stock</div></div>
<div class="control-group"><label class="control-label">Status</label><div class="controls padt5">@Model.Status</div></div>
<div class="control-group"><label class="control-label">Thumbs</label><div class="controls padt5">@Model.Thumbs</div></div>
