@model Models.Grade
<div class="control-group"><label class="control-label">教育机构ID</label><div class="controls padt5">@Model.CompanyID</div></div>
<div class="control-group"><label class="control-label">班级名称</label><div class="controls padt5">@Model.GradeName</div></div>
<div class="control-group"><label class="control-label">班主任ID</label><div class="controls padt5">@Model.HeadmasterID</div></div>
<div class="control-group"><label class="control-label">简介</label><div class="controls padt5">@Model.Summary</div></div>
<div class="control-group"><label class="control-label">详情</label><div class="controls padt5">@Model.Content</div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls padt5">@Model.Status</div></div>
