@using Common;
@using MvcPager;
@using Lib;
@using Models;
@model PagedList<Grade>
<table class="table table-striped">
    <thead>
        <tr>
          <th class="checkbox-column">
                <input type="checkbox" name="checkall" onchange="selectall(this,'ID')" />
            </th>
                           <th class="sorting" data-sort="ID">ID</th>
               <th class="sorting" data-sort="SchoolID">SchoolID</th>
               <th class="sorting" data-sort="GradeName">班级名称</th>
               <th class="sorting" data-sort="HeadmasterID">班主任ID</th>
               <th class="sorting" data-sort="Summary">简介</th>
               <th class="sorting" data-sort="Content">详情</th>
               <th class="sorting" data-sort="Status">状态</th>

            <th class="btns-column">
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               <td class="checkbox-column"><input type="checkbox" name="ID" value="@item.ID"/></td>
                               <td>@item.ID</td>
               <td>@item.SchoolID</td>
               <td>@item.GradeName</td>
               <td>@item.HeadmasterID</td>
               <td>@item.Summary</td>
               <td>@item.Content</td>
               <td>@item.Status</td>

                <td class="btns-column">
					@Html.ViewButton("详细", "/admin/Grade/Detail", new { href = "/admin/Grade/Detail?id=" + item.ID })
					@Html.EditButton("编辑", "/admin/Grade/Edit", new { href = "/admin/Grade/Edit?id=" + item.ID })
					@Html.DeleteButton("删除", "/admin/Grade/Delete", new { href = "javascript:void(0);", onclick = "Delete('/admin/Grade/Delete/" + item.ID + "',this,'one');" })
				</td>
            </tr>
        }
    </tbody>
</table>
<div class="dt_footer fixed">
    <div class="row-fluid">
        <div class="span4">
            <div class="dataTables_info" id="DataTables_Table_0_info">
                @Model.CurrentPageIndex/@Model.TotalPageCount 页, 共@(Model.TotalItemCount)条记录
            </div>
        </div>
        <div class="span8">
            <div class="pagination">@Html.Pager(Model)</div>
        </div>
    </div>
</div>
@Html.PermissionValideScript()