@using Common;
@using Models;
@model Student
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">学员编号</label><div class="controls"><input id="StudentNo" name ="StudentNo" type="text" value ="@Model.StudentNo" required /></div></div>
<div class="control-group"><label class="control-label">姓名</label><div class="controls"><input id="UserName" name ="UserName" type="text" value ="@Model.UserName" required /></div></div>
<div class="control-group"><label class="control-label">昵称</label><div class="controls"><input id="NickName" name ="NickName" type="text" value ="@Model.NickName" /></div></div>
<div class="control-group"><label class="control-label">英文名</label><div class="controls"><input id="EnglishName" name ="EnglishName" type="text" value ="@Model.EnglishName" /></div></div>
<div class="control-group"><label class="control-label">状态</label><div class="controls"><input id="Status" name ="Status" type="text" value ="@Model.Status" style="width:30px;"/></div></div>
<div class="control-group"><label class="control-label">身份证</label><div class="controls"><input id="IDcard" name ="IDcard" type="text" value ="@Model.IDcard" /></div></div>
<div class="control-group"><label class="control-label">出生日期</label><div class="controls"><input id="BirthDate" name ="BirthDate" type="text" value ="@Model.BirthDate" /></div></div>
<div class="control-group"><label class="control-label">联系电话</label><div class="controls"><input id="Mobile" name ="Mobile" type="text" value ="@Model.Mobile" /></div></div>
<div class="control-group"><label class="control-label">Avatar</label><div class="controls"><input id="Avatar" name ="Avatar" type="text" value ="@Model.Avatar" /></div></div>
<div class="control-group"><label class="control-label">地址</label><div class="controls"><textarea id="Address" name ="Address">@Model.Address</textarea></div></div>
<div class="control-group"><label class="control-label">Email</label><div class="controls"><input id="Email" name ="Email" type="text" value ="@Model.Email" /></div></div>
<div class="control-group"><label class="control-label">QQ</label><div class="controls"><input id="QQ" name ="QQ" type="text" value ="@Model.QQ" /></div></div>
<div class="control-group"><label class="control-label">WeiXin</label><div class="controls"><input id="WeiXin" name ="WeiXin" type="text" value ="@Model.WeiXin" /></div></div>
