@model Models.EnumData
<div class="control-group"><label class="control-label">父级ID</label><div class="controls padt5">@Model.ParentID</div></div>
<div class="control-group"><label class="control-label">名称</label><div class="controls padt5">@Model.EnumName</div></div>
<div class="control-group"><label class="control-label">数值</label><div class="controls padt5">@Model.EnumValue</div></div>
<div class="control-group"><label class="control-label">Level</label><div class="controls padt5">@Model.Level</div></div>
<div class="control-group"><label class="control-label">TypeID</label><div class="controls padt5">@Model.TypeID</div></div>
