@model Models.QuestionRecord
<div class="control-group"><label class="control-label">QuestionID</label><div class="controls padt5">@Model.QuestionID</div></div>
<div class="control-group"><label class="control-label">RightAnswer</label><div class="controls padt5">@Model.RightAnswer</div></div>
<div class="control-group"><label class="control-label">Answer</label><div class="controls padt5">@Model.Answer</div></div>
<div class="control-group"><label class="control-label">ExamID</label><div class="controls padt5">@Model.ExamID</div></div>
<div class="control-group"><label class="control-label">OpenID</label><div class="controls padt5">@Model.OpenID</div></div>
<div class="control-group"><label class="control-label">TaskID</label><div class="controls padt5">@Model.TaskID</div></div>
