@using Common;
@using Models;
@model QuestionRecord
<div class="control-group"><label class="control-label">ID</label><div class="controls"><input id="ID" name ="ID" type="text" value ="@Model.ID" required readonly="readonly" /></div></div>
<div class="control-group"><label class="control-label">QuestionID</label><div class="controls"><input id="QuestionID" name ="QuestionID" type="text" value ="@Model.QuestionID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">RightAnswer</label><div class="controls"><textarea id="RightAnswer" name ="RightAnswer" required>@Model.RightAnswer</textarea></div></div>
<div class="control-group"><label class="control-label">Answer</label><div class="controls"><textarea id="Answer" name ="Answer" required>@Model.Answer</textarea></div></div>
<div class="control-group"><label class="control-label">ExamID</label><div class="controls"><input id="ExamID" name ="ExamID" type="text" value ="@Model.ExamID" style="width:30px;" required/></div></div>
<div class="control-group"><label class="control-label">OpenID</label><div class="controls"><textarea id="OpenID" name ="OpenID" required>@Model.OpenID</textarea></div></div>
<div class="control-group"><label class="control-label">TaskID</label><div class="controls"><input id="TaskID" name ="TaskID" type="text" value ="@Model.TaskID" style="width:30px;"/></div></div>
